/*Header css*/
.page-header{
    background: transparent;
    width: 100%;
    position: absolute;
    z-index: 900;
    top:1rem;
}
.header-content{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header-title {
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 0px;
    height: 100%;
}
.header-menu{
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.header-title img {
    width: 100%;
}
.header-left{
    display: flex;
    background-color: black;
    height: fit-content;
    align-items: center;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0 !important;
}
.menu-item{
    color: white;
    list-style-type: none;
    width: fit-content;
    padding: 10px;
    position: relative;
    font-weight: 600;
}
.menu-item:hover,.menu-item:hover>a {
    background-color: white;
    color: black;
}
.menu-item>a{
    color: white;
    font-weight: 600;
}
.menu-item:hover > .sub-menu{
    display: flex;
}
.sub-menu{
    position: absolute;
    display: none;
    list-style: none;
    background-color: white;
    padding: 0;
    top: 2.4rem;
    left: -28rem;
    width: 1000px;
    z-index: 500;
}
.sub-menu-item{
    width: 20%;
    padding: 10px;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-item>.sub-menu>.sub-menu-item img{
    width: 100px;
    height: 100px;
}
.header-slide{
    width: 100%;
}
.header-info{
    padding: 0px 20px;
    height: fit-content;
}
.header-slide>.slider-children> img{
    width: 100%;
}
/*Header fixed css*/
.header-fixed{
    position: fixed;
    top: 0;
    display: none;
}
.header-fixed .header-content{
    width: 100%;
    background-color: black;
}
/*Index show product css*/
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.cards_product {
    /* There will be 4 cards per row */
    flex-basis: 33.33%;

    padding-left: 8px;
    padding-right: 8px;
}
.cards_product:hover {
    text-decoration: none ;
}
.img-product{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img-product img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    transform: scale(0.9);
}
.img-product img:hover{
    transform: scale(1);
}
.products{
    width: 80%;
    margin: auto;
}
.name-product{
    display: flex;
    justify-content: center;
    text-align: center;
}
.name-product h2 {
    line-height: 40px;
    font-size: 30px;
    text-transform: uppercase;
}
.title-products{
    display: flex;
    justify-content: center;
    text-align: center;
}
img.slider-img {
    width: 100%;
}
.slick-prev::before, .slick-next::before{
    font-size: 35px !important;
}
.info-owner{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem 0rem 1rem 2rem;
    max-width: 100%;
    background-color: #6633004a;
    margin: 0;
}
.info-owner .avt-owner {
    width: 20%;
}
.info-owner .avt-owner img {
    width: 235px;
    height: 250px;
}
.info-owner .contact{
    width: 80%;
    height: 100%;
}
.info-owner .contact p span {
    color: red;
    font-weight: 700;
    font-size: 1.2rem;
}

.info-owner .contact p{
    margin-bottom: 0;
    margin: 0;
    line-height: 2.3rem;
    font-size: 1.2rem;
}
.info-owner .contact h1{
    margin-bottom: 0;
    margin: 0;
    line-height: 2.3rem;
}
@media screen and (max-width: 1024px) {
    .header-content{
        width: 100%;
    }
}
@media screen and (min-width: 576px){
    .modal-dialog {
        max-width: 800px !important;
        margin: 1.75rem auto;
    }
}
@media only screen and (max-width: 768px) {
    .header-menu, .social-network{
        display: none !important;
    }
    .header-content{
        width: 100%;
        top: 0rem;
    }
    .icon-menu{
        display: block !important;
        top: 25%;
        right: 0%;
        position: absolute;
    }
    .cards_product{
        flex-basis: 80% !important;

    }
  }